*{ 
    background-color: white
    ;
}

section¨{
    color:blue
}
.padre{
    display: flex;
    border: solid white;
    justify-self:center;
    padding:200px;



}
.hijo1{
    color:aqua;
    background-color: aqua;
    

}

img{
    width:20px;
    border: none;
    justify-self: center;
}
.hijo2{
    background-color: orange;
    color: orange;

}
.hijo3{
    background-color: green;
    color: green;
}
.mi-texto{
    color: black;
    background-color: transparent;
    font-size: 10px;
}







